.joke-card{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
